{% extends "layout.html" %}
{% block body %}
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{contact.0}}" method="POST" class="row g-2 needs-validation" novalidate>
          <div class="form-group">
            <input type="text" name="razon_social" value="{{contact.1}}" class="form-control" required>
            <div class="invalid-feedback">Complete la razón social</div>
          </div>
          <div class="form-group">
            <input type="text" name="nombre" value="{{contact.2}}" class="form-control" required>
            <div class="invalid-feedback">Complete el nombre</div>
          </div>
          <div class="form-group">
            <input type="text" name="cuit" value="{{contact.3}}" class="form-control" required>
            <div class="invalid-feedback">Complete el CUIT</div>
          </div>
          <div class="form-group">
            <input type="text" name="direccion" value="{{contact.4}}" class="form-control" required>
            <div class="invalid-feedback">Complete la dirección</div>
          </div>
          <div class="form-group">
            <input type="text" name="ciudad" value="{{contact.5}}" class="form-control" required>
            <div class="invalid-feedback">Complete la ciudad</div>
          </div>
          <div class="form-group">
            <input type="text" name="telefono" value="{{contact.6}}" class="form-control" required>
            <div class="invalid-feedback">Complete el teléfono</div>
          </div>
          <div class="form-group">
            <input type="text" name="email" value="{{contact.7}}" class="form-control" required>
            <div class="invalid-feedback">Complete el E-mail</div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-success">
              Aceptar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
